a{
    color: aqua;
    text-decoration: none;
}
body{
    background-color: dimgrey;
}
.card-container {
  display: flex; /* Bật chế độ Flexbox */
  flex-wrap: wrap; /* Cho phép các phần tử con tự xuống dòng nếu không đủ chỗ */
  justify-content: space-evenly; /* Căn đều khoảng cách giữa các phần tử con */
  gap: 0px; /* Khoảng cách giữa các phần tử con là 0 */
  padding-bottom: 50px; /* Khoảng cách dưới container là 50px */
  padding-top: 20px; /* Khoảng cách trên container là 20px */
  padding-left: -10px; /* Khoảng cách bên trái container là 150px */
  padding-right: 10px; /* Khoảng cách bên phải container là 150px */
}
.block {
    display: inline-block;
    width: 600px; /* Chiều rộng */
    height: 700px; /* Chiều cao */
    background-color: #a78686; /* Màu nền */
    border-radius: 20px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
  }
.topblock {
    display: inline-block;
    width: 150px; /* Chiều rộng */
    height: 25px; /* Chiều cao */
    background-color: #696969; /* Màu nền */
    border-radius: 20px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
  }
.picktopblock {
    display: inline-block;
    width: 175px; /* Chiều rộng */
    height: 30px; /* Chiều cao */
    background-color: #929292; /* Màu nền */
    border-radius: 20px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
  }
.link_text {
    display: flex;
    justify-content: center;
    line-height: 1000px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}