a{
    color: aqua;
    text-decoration: none;
}
body{
    background-color: dimgrey;
}
.block {
    width: 400px; /* Chiều rộng */
    height: 700px; /* Chiều cao */
    background-color: #ffffff; /* Màu nền */
    border-radius: 20px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
  }
.topblock {
    width: 150px; /* Chiều rộng */
    height: 25px; /* Chiều cao */
    background-color: #696969; /* Màu nền */
    border-radius: 20px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
  }
.picktopblock {
    width: 175px; /* Chiều rộng */
    height: 30px; /* Chiều cao */
    background-color: #929292; /* Màu nền */
    border-radius: 20px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
  }